<header>
  <div id="padd">
    <div class="margin">
      <p class="buscaMarvelFonte">BUSCA MARVEL</p>
      <div class="linhaBuscaMarvelFonte"></div>
      <p class="testeFrontEndFonte">TESTE FRONT-END</p>
      <p class="nomeDoCandidatoFonte">PATRÍCIA PEREIRA LIMA MACHADO</p>
    </div>
    <div>
      <p class="nomeDoPersonagemFonte">Nome do Personagem</p>
        <input 
          type="text" 
          class="input" 
          placeholder="Digite para pesquisar" 
          [(ngModel)]="userFilter.name"
        >
    </div>
    <div>
    <table>
      <tr>
        <th class="seriesFonte">Nome</th>
        <th class="seriesFonte">Eventos</th>
        <th class="seriesFonte">Séries</th>
      </tr>
      <tr *ngFor="let hero of heroes[6].results | filterBy: userFilter | paginate: { itemsPerPage: 3, currentPage: page }">
        <td>
          <img src="{{ hero.thumbnail.path}}.{{hero.thumbnail.extension}}" class="tamanhoAvatar">
          {{hero.name}}
        </td>
        <td *ngFor="let event of hero.events.items | slice:hero.events.items.length - 2" class="events">
          <ul>
            <li>{{ event.name }}</li>
          </ul>  
        </td>
        <td *ngFor="let series of hero.series.items | slice:hero.series.items.length - 2" class="series">
          <div class="alo">
            <ul>
              <li>{{ series.name }}</li>
            </ul> 
          </div>
        </td> 
      </tr>
    </table>
    </div>
    <pagination-controls (pageChange)="page = $event" class="paginacaoFonte"></pagination-controls>
  </div>
  <div class="rodape"></div>
</header>